.btn-outline-lightYellow {
    background-color:#fae273;
    color: black;
}
.btn-outline-lightOrange {
    background-color:#f6c04a;
    color: black;
}

.btn-outline-lightBlue {
    background-color:#A8D8EA;
    color:  black;
}

.btn-outline-lightBlue-2 {
    background-color:white;
    color:  blue;
}

.btn-outline-lightRed {
    background-color:#f68787;
    color:  black;
}

.btn-outline-lightGreen {
    background-color:#7abd7b;
    color:  black;
}